
  <div class="card contact-card">
    <div class="card-text">
      <div class="side-img"></div>
      <div class="title-total">   
        <div class="title">{{contact.relationship}}</div>
        <h2 id="fullname">{{contact.name}} {{contact.surname}}</h2>
    
    <div class="desc">
       <p>{{contact.email}}</p>
       <p>{{contact.phone}}</p>
    </div>
    <div class="actions">
      <button><em class="fa fa-phone"></em></button>
      <button><em class="fa fa-envelope"></em></button>
     
    </div></div>
    </div>
  </div>