.home-jumbotron{
    background-image: url('../../../assets/ab-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    margin-top: -15px;
}