<div>
    <div class="home-jumbotron"></div>

    <div>
        <div>
            <form  fxLayout="row" fxLayoutAlign="center">
                <mat-form-field class="find-form-full-width">
                  <mat-label>Find Contact</mat-label>
                  <input matInput placeholder="E.g. John Smith"  (keyup)="onKeyUp($event)" >
                </mat-form-field>

                <button mat-raised-button color="primary">Add New Contact</button>
              </form>
        </div>
    </div>
    <app-contact-list [contacts]="filteredContacts"></app-contact-list>
</div>


